{% extends "base.html" %}
{% load static %}
{% block title %}CanalHotels{% endblock %}
{% block urls %}<a href="/userform/register">Register</a>{% endblock %}
{% block content %}
       <!-- カルーセル　セットアップ-->
       <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button class ="cal-button" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button class ="cal-button" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button class ="cal-button" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button class ="cal-button" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button class ="cal-button" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'image/OYAKI.png' %}" class="d-block w-100 carousel-image" alt="{ %static 'image/OYAKI.png'%}">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="">ファーストオヤキ</h5>
                <p class="">おやきと視線が合いたいと願う、それは純粋なるクリスタルの意志である</p>
              </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'image/OYAKI.png' %}" class="d-block w-100 carousel-image" alt="{ %static 'image/OYAKI.png'%}">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="">セカンドオヤキ</h5>
                <p class="">おやきと再び視線が剣を交えたいと願う、それは純粋なるクリスタルの意志である</p>
              </div>
        </div>
          <div class="carousel-item">
            <img src="{%static 'image/OYAKI.png' %}" class="d-block w-100 carousel-image" alt="{ %static 'image/OYAKI.png'%}">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="">サードオヤキ</h5>
                <p class="">おやきと第三位永遠の二乗現世の窓が合いました。第二位度あることで発動する”禁呪”は三度ある</p>
              </div>
        </div>
          <div class="carousel-item">
            <img src="{%static 'image/OYAKI.png' %}" class="d-block w-100 carousel-image" alt="{ %static 'image/OYAKI.png'%}">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="">フォースオヤキ</h5>
                <p class="">おやきと四回オッドアイが合いました。ちょっと光き強そうなおやきです…それもあのお方が望んだことでしょう…ね</p>
              </div>
        </div>
          <div class="carousel-item">
            <img src="{%static 'image/OYAKI.png' %}" class="d-block w-100 carousel-image" alt="{ %static 'image/OYAKI.png'%}">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="">フィフスオヤキ</h5>
                <p class="">おやきと伍永遠の二乗目が剣を交えたいと願う、それは純粋なるクリスタルの意志である。ちなみに彼女はエアリスに似ているし、、おやきは長野の名物ですよ</p>
              </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!--カルーセル　終了-->
      <!--検索フォーム　開始-->
      <div class="container findcontog">
      <p class="container text-center fs-4">日時より検索</p>
      </div>
      <div class="container-fluid findcon">
       <div class="container findcc"></div>
       <div class="container findcc"></div>
       <div class="container findcc"></div>
       <div class="container findcc"></div>
       <div class="container findcc"></div>
       <div class="container findcc"></div>
      </div>
      
    <h1>へい</h1>
    <h1>へい</h1>
    <h1>へい</h1>
    <h1>へい</h1>
    <h1>へい</h1>
    <h1>へい</h1>
    <h1>へい</h1>
    <h1>へい</h1>
    <h1>へい</h1>
    <h1>へい</h1>
    <h1>へい</h1>
    <h1>へい</h1>
    <h1>へい</h1>
    <h1>へい</h1>
    <h1>へい</h1>
    <h1>へい</h1>
    <h1>へい</h1>
{% endblock %}